<nav class="navbar">
  <h1>
    <!--routerLink - вместо href но без перезагрузки 'event.preventDefault'-->
    <a [routerLink]="['/']">Angular Routing</a> 
  </h1>
  <ul>
    <!--routerLinkActive добовляет класс active активной ссылке-->
    <!--[routerLinkActiveOptions]='{exact: true} указывает на полное соответствие ссылке "/"-->
    <li routerLinkActive = 'active' [routerLinkActiveOptions]='{exact: true}'>
      <a [routerLink]="['/']">Home</a>
    </li>
    <li routerLinkActive = 'active'><a [routerLink]="['/posts']">Posts</a></li>
    <li routerLinkActive = 'active'><a [routerLink]="['/about']">About</a></li>
    <li><button class="btn" (click)="auth.login()">Login</button></li>
    <li><button class="btn" (click)="auth.logout()">Logout</button></li>
  </ul>
</nav>

<div class="container">
  <div class="card">

    <!--Здесь динамически отображаются страницы-->
    <router-outlet></router-outlet>

    <!--<app-home></app-home>-->
  </div>
</div>



